          <div style="clear: both;">&nbsp;</div>
        </div><!-- end of content -->
        <div style="text-align: center;">
          <p><a href="https://gitlab.com/manasource" rel="publisher">Check us out on Gitlab!</a></p>
        </div>
      </div>
    </div><!-- end of area -->
  </body>
</html>
